{% extends 'base.html' %} 
{% block title %} Asistencia {% endblock title%}
{% block head %}

<h1>Aplicar Asistencia</h1>
    

<div class="container mt-2">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      {% for message in messages %}
      <div
        class="alert alert-{{message.tags}} alert-dismissible fade show"
        role="alert"
      >
        <strong></strong> {{message}}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% comment %} Contact Us COde {% endcomment %}

      <form action="/Asistencia" method="post">{% csrf_token %}
        {% csrf_token %}


        <div class="form-group">
            <input
              type="Numero"
              class="form-control mt-2"
              value="{{user.username}}"
              name="Numero de Telefono"
              placeholder="Ingresa tu Numero"
              readonly
              required
            />
          </div>


        <div class="form-group">

          <select class="form-control mt-2" id="workout" name="workout" required>
            <option selected>Seleccionar entrenamiento</option>
            <option value="Biceps">Biceps</option>
            <option value="Triceps">Triceps</option>
            <option value="Shoulders">Espalda</option>
            <option value="Chest">Gluteos</option>
            <option value="ABS">ABS</option>
            <option value="Back">Back</option>
            <option value="Warm Up">Calentamiento</option>
            <option value="Treadmill">Inicio de Entrenamiento</option>
          </select>
        </div>

       
          
        <div class="form-group">
            <label for="logintime" class="text-white">Iniciar sesión</label>
          <input
            type="time"
            class="form-control mt-2"
            name="logintime"
            id="logintime"
            placeholder="Login Time"
            required
          />
        </div>

        <div class="form-group">
            <label for="loginout" class="text-white">Cerrar sesión</label>
          <input
            type="time"
            class="form-control mt-2"
            name="loginout"
            id="loginout"
            placeholder="Login Out"
            required
          />
        </div>


        <div class="form-group">
           
                     <select  class="form-control mt-2" id="trainer" name="trainer"  required>
                     <option selected> Seleccionar entrenadora</option>
                          {% for  p in SelectTrainer %}
                          

<option value="{{p.name}}">{{p.name}}</option>
{% endfor %}

</select>
                


            </div>

                                           


        <br />
        <div class="d-grid gap-2">
          <button class="btn btn-warning" type="submit">Aplicar Asistencia</button>
        </div>
      </form>
    </div>

    <div class="col-md-3"></div>
  </div>
</div>

{% endblock head %}
