{% extends 'base.html' %}
{% block title %}
Perfil
{% endblock title %}
{% block body %}




<div class="container">

    <div class="row">
    
    <div class="col-md-4">
      
    <h1>Detalles de inscripción</h1>
    {% comment %} Contact Us COde  {% endcomment %}
    {% for post in posts %}
    
   
    <ul class="list-group">
        <li class="list-group-item bg-warning text-dark"><h5>Nombre : {{post.FullName}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Email : {{post.Email}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Género: {{post.Gender}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Numero de Celular : {{post.PhoneNumber}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Fecha de Nacimiento : {{post.DOB}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Plan de Membresía : {{post.SelectMembershipplan}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Entrenadora : {{post.SelectTrainer}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Referencia : {{post.Reference}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Dirección : {{post.Address}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Estado de pago : {{post.paymentStatus}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Cantidad pagada : {{post.Price}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Fecha de vencimiento próxima : {{post.DueDate}}</h5></li>
        <li class="list-group-item bg-warning text-dark"><h5>Dia de ingreso : {{post.timeStamp}}</h5></li>
      
       
      </ul>
      {% endfor %}
    
    
    
    
    </div>
    
    <div class="col-md-8">


      <div><Center><h2 class="display-4 mt-3"><b>Datos de asistencia</b></h2></Center></div>

  
      
      <table class="table">
        <thead class="thead-warning">
          <tr>
          
            <th scope="col">Fecha</th>
            <th scope="col">Login</th>
            <th scope="col">Logout</th>
            <th scope="col">Ejercicio</th>
            <th scope="col">Entrenado por</th>
          </tr>
        </thead>
        <tbody>

          {% for attend in attendance %}
          <tr>
            
            <td>{{attend.Selectdate}}</td>
            <td>{{attend.Login}}</td>
            <td>{{attend.Logout}}</td>
            <td>{{attend.SelectWorkout}}</td>
            <td>{{attend.TrainedBy}}</td>
            
           
         
            
           
          </tr>
          {% endfor %}
        
        </tbody>
      </table>
    
    
    </div>
    
    
    
    
    
    </div>




{% endblock body %}